<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Expedia" configfailurepolicy="continue">
    <test name="UI Tests">
        <classes>
            <class name="ui.HomePageTests"/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="api.runner.TestRunner"></class>
        </classes>
    </test>
</suite>